__pycache__/my_program_for_work.cpython-37.pyc
__pycache__/report_to_doc.cpython-37.pyc
build/my_program_for_work/Analysis-00.toc
build/my_program_for_work/base_library.zip
build/my_program_for_work/EXE-00.toc
build/my_program_for_work/my_program_for_work.exe.manifest
build/my_program_for_work/PKG-00.pkg
build/my_program_for_work/PKG-00.toc
build/my_program_for_work/PYZ-00.pyz
build/my_program_for_work/PYZ-00.toc
build/my_program_for_work/Tree-00.toc
build/my_program_for_work/Tree-01.toc
build/my_program_for_work/warn-my_program_for_work.txt
build/my_program_for_work/xref-my_program_for_work.html
build/report_to_doc/Analysis-00.toc
build/report_to_doc/base_library.zip
build/report_to_doc/EXE-00.toc
build/report_to_doc/PKG-00.pkg
build/report_to_doc/PKG-00.toc
build/report_to_doc/PYZ-00.pyz
build/report_to_doc/PYZ-00.toc
build/report_to_doc/report_to_doc.exe.manifest
build/report_to_doc/Tree-00.toc
build/report_to_doc/Tree-01.toc
build/report_to_doc/warn-report_to_doc.txt
build/report_to_doc/xref-report_to_doc.html
dist/my_program_for_work.exe
dist/report_to_doc.exe
dist/本周重点问题汇总_W39.docx
my_program_for_work.spec
report_to_doc.spec
重点产品开发进度确认.docx
